.dash-wrapper {
    min-height: calc(100vh - 61px);
    position: absolute;
    width: 100%;
    top: 61px;
    z-index: -1;
    background: {
        image: url(../img/f78b724c75.jpg);
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    &.dash-wrapper--deactive {
        opacity: 0;
    } 
}