.tile.create-new-site {
    min-height: 300px;
    .zero-site {
        background-color: #f7f9fc;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        flex: 1;
        border-radius: 4px;
        span {
            font: {
                family: avenir-demi;
                size: 18px;
            }
            line-height: 24px;
            margin-top: 18px;
            color: #3A3D41;
        }
    }
    .ukit-alt {
        margin-top: 18px;
        color: #3A3D41;
        font: {
            family: avenir-medium;
            size: 14px;
        }
        line-height: 18px;
        display: flex;
        justify-content: space-between;
        &__button {
            &-fb2ukit, &-vk2ukit {
                position: relative;
                background-color: #F7F9FE;
                flex: 1 1 48%;
                max-width: 48%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 100px;
                border-radius: 4px;
                padding: 12px 12px 18px;
                img {
                    margin: 8px;
                }
                span {
                    text-align: center;
                }
                .ukit-alt-title-img {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 18px;
                    height: 18px;
                    opacity: .6;
                    background: {
                        image: url(../img/img-question-mark.png);
                        repeat: no-repeat;
                        position: center
                    }
                }
            }
        }
    }
    &.create-new-site--table {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        min-height: 0px;
        height: 30%;
        .zero-site {
            flex-direction: row;
            flex: 1 1 50%;
            margin-right: 24px;
            margin-bottom: 18px;
            img {
                margin: 18px;
            }
            span {
                margin-top: 0;
            }
        }
        .ukit-alt {
            margin-top: 0;
            flex: 1 1 50%;
            align-self: flex-start;
            &__button {
                &-fb2ukit, &-vk2ukit {
                    min-height: 0;
                    flex-direction: row;
                    padding: 6px 12px 10px;
                }
            }
        }
        @media (max-width: 980px) {
            flex-direction: column;
            .zero-site {
                flex-basis: 100%;
                width: 100%;
                margin-right: 0;
            }
            .ukit-alt {
                flex-basis: 100%;
                width: 100%;
            }
        }
    }
}

.tile {
    background-color: rgba(58,61,65,0);
    overflow: hidden;
    min-width: 320px;
    max-width: 550px;
    margin: 16px;
    display: flex;
    flex: 1 1 23%;
    flex-direction: column;
    border-radius: 4px;
}

.tile.modal__item-site {
    position: relative;
    box-shadow: 0 3px 4px 0 rgba(141,168,184,0.40);
    .preview {
        cursor: pointer;
        position: relative;
        padding: 31.803% 0;
        &__image-site {
           position: absolute;
           width: 100%;
           top: 0;
           z-index: -1;
           transition: 0.2s ease-in-out;
           filter: blur(0px);
        }
        &__overlay {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            top: 0;
            opacity: 0;
            background-color: rgba(38,56,69,0.90);
            .primary {
                flex:1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 36px;
                button {
                    cursor: pointer;
                    background-color: #4CAF50;
                    color: #fff;
                    font: {
                        family: avenir-regular;
                        size: 21px;
                    }
                    line-height: 24px;
                    letter-spacing: .5px;
                    border-radius: 6px;
                    padding: 15px 32px 16px 34px;
                    &.primary__pay {
                        margin-top: 18px;
                        font-size: 14px;
                        padding: 8px 16px 10px 10px;
                        line-height: normal;
                        border-radius: 18px;
                        display: flex;
                        align-items: center;
                        i {
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            margin: 0 5px 0px 4px;
                            background: {
                                image: url(../img/img-payment-icn.png);
                                position: center;
                                repeat: no-repeat;
                                origin: content-box;
                            }
                        }
                    }
                    &.primary__help {
                        padding: 8px 16px 10px;
                        margin-top: 18px;
                        font-size: 14px;
                        line-height: normal;
                        border-radius: 18px;
                    }
                    &:hover {
                        background-color: #67bd6a;
                    }
                }
            }
            .secondary {
                display: flex;
                justify-content: space-between;
                padding: 0 28px 26px;
                pointer-events: none;
                &__leftgroup {
                    display: flex;
                    .edit-button {
                        font: {
                            family: avenir-regular;
                            size: 14px;
                        }
                        padding: 8px 16px 10px 10px;
                        background-color: #132026;
                        color: #fff;
                        transition: 0.1s ease-in-out;
                        border-radius: 18px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        i {
                            background: {
                                image: url(../img/img-edit-icn.png);
                                repeat: no-repeat;
                                position: center;
                                origin: content-box;
                            }
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            margin-left: 4px;
                            margin-right: 10px;
                        }
                        &:hover {
                            background-color: #3B7694;
                        }
                    }
                    .publish-button {
                        display: inline-block;
                        border-radius: 50%;
                        margin-left: 12px;
                        background: {
                            image: url(../img/img-publish-icn.png);
                            color: #132026;
                            repeat: no-repeat;
                            origin: content-box;
                            position: center;
                        }
                        cursor: pointer;
                        width: 36px;
                        height: 36px;
                        transition: 0.1s ease-in-out;
                        &:hover {
                            background: {
                                color: #FFCC00;
                                image: url(../img/img-publish-icn-hover.png);
                            }
                        }
                        &.publish-button--disabled {
                            cursor: not-allowed;
                            background: {
                                image: url(../img/img-publish-icn-table.png);
                                color: rgba(19, 32, 38, 0.5);
                            }
                            &:hover {
                                background: {
                                    image: url(../img/img-publish-icn-table.png);
                                    color: rgba(19, 32, 38, 0.5);
                                }
                            }
                        }
                    }
                    .premium-button {
                        width: 36px;
                        height: 36px;
                        margin-left: 12px;
                        border-radius: 50%;
                        transition: 0.1s ease-in-out;
                        cursor: pointer;
                        background: {
                            color: #132026;
                            image: url(../img/img-payment-icn.png);
                            repeat: no-repeat;
                            origin: content-box;
                            position: center;
                        }
                        &:hover {
                            background-color: #4caf50;
                        }
                    }
                }
                &__delete-button {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background: {
                        image: url(../img/img-delete-icn.png);
                        color: #132026;
                        repeat: no-repeat;
                        origin: content-box;
                        position: center;
                    }
                    &:hover {
                        background-color: #C2445C;
                    }
                }
            }
        }
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            background-image: linear-gradient(0deg, rgba(28,52,41,0.10) 26%, rgba(28,52,41,0.00) 98%);
        }
        &.selected-site:before {
            background: {
                image: url(../img/selected-site-mark.png);
                color: rgba(51,143,255,0.6);
                repeat: no-repeat;
                origin: content-box;
                position: center;
            }
        }
        &.expired:before {
            content: "Период закончился";
            background: {
                image: url(../img/expired-warning.png);
                color: rgba(255, 255, 255, 0.8);
                position: center;
                origin: content-box;
                repeat: no-repeat;
            }
            color: rgb(194, 68, 92);
            font: {
                size: 21px;
                family: avenir-medium;
            }
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.locked:before {
            content: "Сайт заблокирован";
            display: flex;
            align-items: center;
            justify-content: center;
            background: {
                image: url(../img/locked-site.png);
                color: rgba(194,68,92,0.8);
                position: center;
                origin: content-box;
                repeat: no-repeat;
            }
            color: #fff;
            font: {
                family: avenir-medium;
                size: 21px;
            }
        }
        &:hover {
            .preview {
                &__image-site {
                    transform: scale(1.03);
                }
                &__overlay {
                    opacity: 1;
                    .secondary {
                        pointer-events: auto;
                    }
                }
            }
        }
    }
    .info {
        padding: 24px 24px 36px;
        height: 100%;
        background-color: #fff;
        &__site-name {
            input {
                width: 100%;
                color: #3A3D41;
                font: {
                    family: avenir-medium;
                    size: 18px;
                    weight: bold;
                }
                letter-spacing: .4px;
                line-height: 24px;
                white-space: nowrap;
                text-overflow: ellipsis;
                border: 2px solid transparent;
                border-radius: 2px;
                &:focus {
                   border-color: rgba(51,143,255,0.6);
                }
            }
        }
        &__site-data-wrapper {
            font: {
                family: avenir-medium;
                size: 14px;
            }
            color: #3A3D41;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 11px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            @mixin flexMidlleText {
                display: flex;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
            }
            .url-publish-wrapper {
                @include flexMidlleText;
                flex: 1;
                img {
                    height: 18px;
                    flex-basis: 18px;
                }
                .publish-domain-name {
                    margin-left: 7px;
                    padding-right: 7px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &--unpublish {
                    .publish-domain-name {
                        color: #8ca8b9;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .tariff-name {
                @include flexMidlleText;
                img {
                }
                span {
                    margin-left: 7px;
                }
            }
            .tariff-counter {
                @include flexMidlleText;
                img {

                }
                span {
                    margin-left: 7px;
                }
            }
            .tariff-expired {
                @include flexMidlleText;
                img {

                }
                span {
                    margin-left: 7px;
                    color: #C2445C;
                }
                a {
                    color: #338FFF;
                }
            }
        }
    }
    .secondary-table {
        display: none;
    }
    &.modal__item-site--table {
        margin: 8px;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        .preview {
            padding: 0 160px 0 0;
            .primary {
                padding-top: 0;
                button {
                    padding: 0;
                    color: #4CAF4F;
                    background-color: transparent;
                    font: {
                        family: avenir-medium;
                        size: 14px;
                    }
                }
                .primary__help {
                    display: none;
                }
                .primary__pay {
                    display: none;
                }
            }
            .secondary {
                display: none;
            }
            &:before {
                content: " ";
                background-size: 24%;
            }
        }
        .info {
            width: 100%;
            padding: 12px 18px;
            &__site-name {
                width: 90%;
            }
            &__site-data-wrapper {
                width: 90%;
                justify-content: flex-start;
                .url-publish-wrapper {
                    margin-right: 14px;
                }
            }
        }
        &:hover {
            cursor: pointer;
            .preview {
                &__overlay {
                    opacity: 1;
                }
            }
        }
        .secondary {
            display: none;
            justify-content: space-between;
            padding: 0;
            top: 50%;
            transform: translateY(-50%);
            align-items: center;
            position: absolute;
            right: 18px;
            &__leftgroup {
                display: flex;
                .edit-button {
                    font: {
                        family: avenir-regular;
                        size: 14px;
                    }
                    padding: 8px 16px 10px 10px;
                    background-color: #E8EBED;
                    color: #7095A7;
                    transition: 0.1s ease-in-out;
                    border-radius: 18px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    i {
                        background: {
                            image: url(../img/img-edit-icn-table.png);
                            repeat: no-repeat;
                            position: center;
                            origin: content-box;
                        }
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        margin-left: 4px;
                        margin-right: 10px;
                    }
                    &:hover {
                        background-color: #3B7694;
                        color: #fff;
                        i {
                            background-image: url(../img/img-edit-icn.png);
                        }
                        
                    }
                    &.expired {
                        i {
                            background-image: url(../img/img-payment-icn-table.png);
                        }
                        &:hover {
                            i {
                                background-image: url(../img/img-payment-icn.png);
                            }
                        }
                    }
                }
                .publish-button {
                    display: inline-block;
                    border-radius: 50%;
                    margin-left: 12px;
                    background: {
                        image: url(../img/img-publish-icn-table.png);
                        color: #E8EBED;
                        repeat: no-repeat;
                        origin: content-box;
                        position: center;
                    }
                    cursor: pointer;
                    width: 36px;
                    height: 36px;
                    transition: 0.1s ease-in-out;
                    &:hover {
                        background: {
                            color: #FFCC00;
                            image: url(../img/img-publish-icn-hover.png);
                        }
                    }
                    &.publish-button--disabled {
                        cursor: not-allowed;
                        background: {
                            image: url(../img/img-publish-icn-disabled-table.png);
                            color: rgba(232, 235, 237, 0.5);
                        }
                        &:hover {
                            background-image: url(../img/img-publish-icn-disabled-table.png);
                        }
                    }
                }
                .premium-button {
                    width: 36px;
                    height: 36px;
                    margin-left: 12px;
                    border-radius: 50%;
                    transition: 0.1s ease-in-out;
                    cursor: pointer;
                    background: {
                        color: #E8EBED;
                        image: url(../img/img-payment-icn-table.png);
                        repeat: no-repeat;
                        origin: content-box;
                        position: center;
                    }
                    &:hover {
                        background: {
                            image: url(../img/img-payment-icn.png);
                            color: #4caf50;
                        }
                    }
                }
            }
            &__delete-button {
                width: 36px;
                height: 36px;
                margin-left: 12px;
                border-radius: 50%;
                background: {
                    image: url(../img/img-delete-icn-table.png);
                    color: #E8EBED;
                    repeat: no-repeat;
                    origin: content-box;
                    position: center;
                }
                &:hover {
                    background: {
                        image: url(../img/img-delete-icn.png);
                        color: #C2445C;
                    }
                    
                }
            }
        }
        &:hover {
            .secondary-table {
                display: flex;
            }
        }
    }
}