// .new-site-wrapper {
//     min-height: 200vh;
//     background-color: #4d6d8f;
//     display: flex;
//     .left-wrapper {
//         background-color: #1c2a33;
//         width: 291px;
//         flex-shrink: 0;
//     }
//     .right-wrapper {
//         position: relative;
//         width: 100%;
//         .fix-header {
//             width: 100%;
//             position: fixed;
//             height: 60px;
//             background-color: #263845;
//             display: flex;
//             .left {
//                 display: flex;
//                 align-items: center;
//                 padding: 0 38px;
//                 .left-text {
//                     margin-right: 16px;
//                     font-size: 16px;
//                     font-family: avenir-demi;
//                     line-height: 1.5; 
//                     color: #e2e5e9;
//                 }
//                 .facebook {
//                     display: flex;
//                     align-items: center;
//                     margin-right: 12px;
//                     width: 314px;
//                     height: 36px;
//                     border-radius: 6px;
//                     background-color: #39579a;
//                     .icon {
//                         margin-left: 18px;
//                         margin-right: 11px;
//                         width: 10px;
//                         height: 18px;
//                         background-color: #ffffff;
//                         box-shadow: 0 1px 1px 0 rgba(28, 55, 115, 0.6);
//                     }
//                     .text {
//                         color: #fff;
//                         font-size: 14px;
//                         font-family: avenir-medium;
//                     }
//                 }
//                 .vk {
//                     display: flex;
//                     align-items: center;
//                     width: 268px; 
//                     height: 36px;
//                     border-radius: 6px;
//                     background-color: #4d6d8f;
//                     .icon {
//                         width: 25px;
//                         height: 18px;
//                         margin-right: 8px;
//                         margin-left: 18px;
//                         background: {
//                             image: url(../img/icn-vk.svg);
//                             size: content-box;
//                             position: center;
//                             repeat: no-repeat;
//                         }
//                     }
//                     .text {
//                         color: #fff;
//                         font-size: 14px;
//                         font-family: avenir-medium;
//                     }
//                 }
//             }
//             .right {
//                 display: flex;
//                 align-items: center
//             }
//             .closest {
//                 width: 22px;
//                 height: 22px;
//                 position: relative;
//                 cursor: pointer;
//                 &:before, &:after {
//                     content: "";
//                     position: absolute;
//                     background-color: #7094a7;
//                     height: 2px;
//                     left: 0;
//                     right: 0;
//                     top: 50%;
//                 }
//                 &:before {
//                     transform: rotate(-45deg);
//                 }
//                 &:after {
//                     transform: rotate(45deg);
//                 }
//             }
//         }
//         .list-site {

//         }
//     }
// }
body {
    min-height: 100vh;
}
.wizard-main-header-wrapper {
    height: 62px;
    .wizard-main-header {
        height: 62px;
        width: 100%;
        position: fixed;
        background-color: #132026;
        display: flex;
        justify-content: space-between;
        .w-logo {
            width: 134px;
            background: {
                image: url(../img/index2/templates-logo.png);
                repeat: no-repeat;
                position: center;
                size: contain;
            }
        }
        .w-topbar__profile-links {
            width: 222px;
            background: {
                image: url(../img/index2/templates-profile.png);
                repeat: no-repeat;
                position: center;
                size: contain;
            }
        }
    }
}
.wizard-main-body {
    display: flex;
    flex: 1;
    background-color: #212D36;
    .w-choose-templates {
        width: 291px;
        position: fixed;
        top: 62px;
        bottom: 0;
        background: {
            image: url(../img/index2/templates-left-pane.png);
            color: #08181f;
            repeat: no-repeat;
            position: top;
            size: contain;
        }
    }
    .w-region-templates {
        display: flex;
        flex-direction: column;
        margin-left: 291px;
        flex: 1;
        .w-tosocial-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 60px;
            padding: 12px 38px;
            background-color: #263845;
            overflow: hidden;
            transition: min-height .25s ease;
            .tosocial {
                display: flex;
                align-items: center;
                &-text {
                    font: {
                        family: avenir-demi;
                        size: 16px;
                    }
                    line-height: 1.5;
                    color: #e2e5e9;

                }
                &-facebook {
                    display: flex;
                    align-items: center;
                    align-self: stretch;
                    padding: 9px 16px 9px 18px;
                    margin-left: 16px;
                    border-radius: 6px;
                    background-color: #39579a;
                    cursor: pointer;
                    .icon {
                        min-width: 10px;
                        min-height: 18px;
                        background: {
                            image: url(../img/index2/icn-fb.svg);
                            position: center;
                            repeat: no-repeat;
                        }
                    }
                    .social-text {
                        margin-left: 11px;
                        font: {
                            family: avenir-medium;
                            size: 14px;
                        }
                        letter-spacing: .5px;
                        color: #fff;
                    }
                }
                &-vk {
                    display: flex;
                    align-items: center;
                    align-self: stretch;
                    padding: 9px 16px 9px 18px;
                    margin-left: 16px;
                    border-radius: 6px;
                    background-color: #4d6d8f;
                    cursor: pointer;
                    .icon {
                        min-width: 25px;
                        min-height: 18px;
                        background: {
                            image: url(../img/index2/icn-vk.svg);
                            position: center;
                            repeat: no-repeat;
                        }
                    }
                    .social-text {
                        margin-left: 11px;
                        font: {
                            family: avenir-medium;
                            size: 14px;
                        }
                        letter-spacing: .5px;
                        color: #fff;
                    }
                }
            }
            .close {
                min-width: 26px;
                min-height: 26px;
                margin-left: 64px;
                position: relative;
                cursor: pointer;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    top: 12px;
                    background-color: #7094a7;
                }
                &:before {
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                }
            }
        }
        .w-tosocial-wrapper--hidden {
            min-height: 0;
            max-height: 0;
            padding: 0 38px;
        }
        .w-tmpls {
            max-width: 1076px;
            flex: 1;
            background: {
                image: url(../img/index2/templates-right-pane.jpg);
                position: left top;
                size: auto 100%;
                repeat: no-repeat;
            }
        }
    }
}